APP_NAME=AIDetector API
ENVIRONMENT=development
SECRET_KEY=6NSxk0Gqem2naY6-kUUvvHFt1oJlL5_i8G3TglDDFio
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
POSTGRES_DB=AIDetector
BACKEND_CORS_ORIGINS=http://localhost:3000,http://localhost:5173,http://127.0.0.1:3000,http://127.0.0.1:5173
